/venv/
.secrets.*
*.sqlite3
.idea/*
.bin
npx
service/antd-demo
migrations/
service/frontend/.gitignore
service/frontend/package.json
service/frontend/package-lock.json
service/frontend/node_modules
/service/test_request.py
